#evaluations_screen {
    #evaluations {
        margin: 25px 0;
        table tbody>tr:hover td {
            background-color: #f5f5f5;
        }
        .panel-title {
            display: flex;
            .buttons {
                min-width: 160px;
            }
        }
        .quot-value {
            max-width: 70px;
            min-width: 65px;
        }
        .input-group {
            width: max-content;
        }
        .quot-comment-group {
            width: 100%;
        }
        .truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
        .fullname {
            position: sticky;
            left: 0;
            background-color: white;
            max-width: 140px;
            width: 140px;
            display: table-cell;
            z-index: 100;
        }
        .redbg {
            background: #ffb0b061;
            border: 1px solid #e0bdbd;
        }
        #averages {
            .q {
                text-align: center;
            }
            .average-eval {
                text-align: center;
            }
            .average-value {
                text-align: center;
                width: 100px;
            }
            .average-comment {
                text-align: center;
                width: 140px;
            }
        }
    }
}