// Place all the styles related to the faq controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.whatsnew {
  .date {
    color: #78858a;
    font-size: 85%;
    letter-spacing: .02em;
    margin-bottom: 10px;
  }
}

.help {
  font-size: 15px;
  h1, h2, h3, h4, h5, h6, h7 {
    color: #2780E3;
    font-weight: 300;
    text-transform: uppercase;
    a:hover {
      text-decoration: none;
    }
  }
  h1, h2 {
    font-weight: 500;
  }

  .nav h3 {
    font-size: 18px;
  }

  .nav ul {
    list-style: square;
    margin: 0 0 50px 0;
    padding: 0;
    li {
      margin: 0;
      line-height: 22px;
      a {
        color: black;
        font-size: 15px;
      }
    }
    li.active {
      color: #2780E3;
      list-style: circle;
      a {
        color: #2780E3;
        font-weight: 400;
        text-decoration: underline;
      }

    }
  }

  blockquote {
    background: #fffcd5;
    border-color: #e7dca4;
    font-size:15px;
  }

  p {
    margin: 20px 0;
  }

  .nav {
    li {
      margin-bottom: 7px;
    }
  }
}
