.frmb {
  min-height: 300px !important;
}

.fb-checkbox .checkbox, .fb-checkbox .radio {
  display: inline-block;
}

.form-builder {
  .description-wrap,
  .subtype-wrap,
  .placeholder-wrap,
  .className-wrap,
  .value-wrap,
  .access-wrap,
  .maxlength-wrap,
  .toggle-wrap,
  .rows-wrap,
  .name-wrap,
  .other-wrap,
  //.required-wrap,
  .required-asterisk,
  .option-value,
  .option-selected,
  .multiple-wrap {
    display: none !important;
  }
  .checkbox-field .required-wrap {
    display: none !important;
  }

  .option-label{
    width: calc(90% - 17px) !important;
  }
}

#jsGrid {
  margin-top: 20px;
}
