@import "snackbar";
@import "snackbar-material";

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.navbar-brand {
  padding: 7px 0 0 15px
}

.navbar-default {
}



.snackbar  {
  z-index: 10000;
  font-size: 16px;
}

.snackbar.error {
  background-color: #ff0039;
  color: #ffffff;
}
.snackbar.alert {
  background-color: #ff7518;
  color: #ffffff;
}
.snackbar.notice {
  background-color: #3fb618;
  color: #ffffff;
}
