.algolia {
    .label {
        &.published {
            background-color: #2780E3;
        }
        &.published::before {
            content: 'Publié'
        }
        &.draft {
            background-color: #222222;
        }
        &.draft::before {
            content: 'Brouillon'
        }
        &.approval_accepted {
            background-color: #3FB618;
        }
        &.approval_accepted::before {
            content: 'Accepté'
        }
        &.approval_refused {
            background-color: #FF0039;
        }
        &.approval_refused::before {
            content: 'Refusé'
        }
        &.waiting_for_approval {
            background-color: rgb(255, 117, 24);
        }
        &.waiting_for_approval::before {
            content: 'Approbation'
        }
    }
    .ais-SearchBox-reset,
    .ais-SearchBox-submit {
        display: none !important;
    }
    .ais-RefinementList-showMore--disabled {
        display: none;
    }
    .ais-SearchBox input,
    .sbx-sffv__input {
        border: 1px solid #A9A9A9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        width: 100%;
        color: #636363;
        margin-bottom: 20px;
        border-radius: 0;
        box-shadow: none;
    }
    .ais-SearchBox input {
        height: 40px;
        padding: 0 8px;
    }
    .ais-SearchBox,
    .ais-SearchBox input {
        max-width: none;
    }
    .sbx-sffv__input:hover {
        box-shadow: none;
    }
    .ais-SearchBox input:focus,
    .sbx-sffv__input:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .ais-Pagination-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            padding: 7px;
            margin: 3px;
        }
    }
    .facet {
        .ais-RefinementList-list {
            list-style: none;
            margin: 0;
            padding: 0;
            .ais-RefinementList-label {
                width: 100%;
                font-weight: normal;
                input {
                    margin-right: 5px;
                }
                .ais-RefinementList-count {
                    float: right;
                }
            }
        }
    }
    .hits {
        .btn-group {
            .dropdown-toggle {
                color: #000;
                box-shadow: none;
                .material-icons {
                    font-size: 16px;
                }
                &.btn {
                    padding: 5px 3px 2px 3px;
                    margin: 0;
                }
            }
            .dropdown-toggle:hover {
                background: #fff;
                border: 1px solid #9ea9ad;
            }
            .dropdown-menu li a .glyphicon,
            .dropdown-menu li a .fa {
                margin-right: 12px;
            }
            &.open .dropdown-toggle {
                background: #fff;
                border: 1px solid #9ea9ad;
                box-shadow: none;
            }
        }
    }
    .hits {
        mark {
            background-color: #FFFF00;
            font-style: normal;
            padding: 0;
        }
        .ais-Hits-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .ais-hits--item,
        .ais-Hits-item {
            border-top: 1px solid #ddd;
        }
        // .ais-hits--item:nth-child(even) {
        //   background: #f9f9f9;
        // }
        .hover:hover {
            background-color: #f5f7f7;
        }
        .title-and-content:hover {
            span.title,
            div.content {
                color: #2780E3;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .hit-content {
            width: 100%;
            em,
            .title-and-content {
                a {
                    text-decoration: none;
                }
                .title {
                    color: #111;
                    font-size: 20px;
                }
                .content,
                .author,
                .meta {
                    color: rgb(120, 133, 138);
                    font-size: 15px;
                    margin-top: 7px;
                }
                .field-label {
                    font-weight: 600;
                }
            }
            .label-container {
                text-align: right;
                .label {
                    font-size: 13px;
                    margin-right: 5px;
                }
            }
        }
    }
}