.pq {
  font-family: Sofia-Pro-Light, Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 0 0 30px 0;
  background-color: rgba(255,71,133,1);
  display: inline-block;
  margin-top: 30px;

  a {
    color: #fff;
    text-decoration: underline;
  }

  .btn-payconiq {
    background: #00cb75;
    border: none;
    border-radius: 0;
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
    &:hover {
      background: #60dfa5;
      color: #fff;
    }
  }

  .pq-banner {
    padding: 40px 20px;
    color: #fff;
    font-size: 25px;
  }
  .pq-button {
    margin: 15px 0;
  }
  .pq-qr {
    margin: 40px auto;
    display: table;
  }
}
