// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rating_screen h1 .rating_years {
    font-size:  14px 
}

#ratings_table th.firstname, #ratings_table td.firstname, #ratings_table th.lastname, #ratings_table td.lastname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media (min-width: 1200px) {
        max-width: 300px;
        min-width: 300px;
        &.level2 {
            padding-left: 20px;
        }
        &.level3 {
            padding-left: 40px;
        }
    }
    @media (max-width: 1200px) {
        max-width: 200px;
        min-width: 200px;
        &.level2 {
            padding-left: 15px;
        }
        &.level3 {
            padding-left: 30px;
        }
    }
    @media (max-width: 990px) {
        max-width: 90px;
        min-width: 90px;
        &.level2 {
            padding-left: 8px;
        }
        &.level3 {
            padding-left: 8px;
        }
    }
    z-index: 100;
    background-color: white;
}


.input-group-addon .fa-comment {
    color: #999999;
}

.input-group-addon.commented .fa-comment {
    color: #333333;
}

#editCommentModal, #newCompetencyModal {


    /* media query for mobile devices */
        &.modal .modal-body {
            max-height: inherit;
        }

}



#ratings_table table tbody>tr:hover td {
    background-color: #f5f5f5;
}

#ratings_table th.firstname, #ratings_table td.firstname {
    position: sticky;
    left:0px;
}
#ratings_table th.lastname, #ratings_table td.lastname {
    position: sticky;
    left:85px;
}

#ratings_table .comment[data-r-comment] {
    color: red;
}

#ratings_table input {
    max-width: 70px;
    min-width: 65px;
}

#ratings_table .input-group {
    width: max-content;
}


// #ratings_table th.fixed-column, #ratings_table td.fixed-column {
//     position: absolute;
//     display: inline-block;
//     width: auto;
//     border-right: 1px solid #ddd;
// }

// @media(min-width:768px) {
//     #ratings_table th.fixed-column, #ratings_table td.fixed-column {
//         display: none;
//     }
// }