#recipientSelection {
    #groups-tab {
        padding-left: 0;
    }
    .ais-RefinementList-list {
        .width-80 {
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .width-20 {
            width: 20%;
        }
    }
    .ais-SearchBox--reset {
        display: none !important;
    }
    .ais-SearchBox-input,
    .sbx-sffv__input,
    #filterR {
        border: 1px solid #A9A9A9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        width: 100%;
        color: #636363;
        margin-bottom: 20px;
        border-radius: 0;
        box-shadow: none;
        height: 40px;
        padding: 0 8px;
    }
    .ais-SearchBox,
    .ais-SearchBox input {
        max-width: none;
    }
    .sbx-sffv__input:hover,
    #filterR:hover {
        box-shadow: none;
    }
    .ais-SearchBox-input:focus,
    .sbx-sffv__input:focus,
    #filterR:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    #recipients #recipients-list {
        overflow-y: scroll;
    }
    .tab-pane {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        #recipient-hits .ais-Panel-body,
        #groups-hits .ais-RefinementList-list {
            overflow-y: scroll;
        }
    }
    #buttons .stacked {
        margin: 30px 0 30px 0;
        display: inline;
        #addRecipients {
            padding: 10px 25px;
            margin: 0 20px 0 0;
        }
    }
    #buttons .inline {
        display: block;
        margin: 150px 0 0 0;
        button:nth-of-type(1) {
            margin-bottom: 50px
        }
    }
    /* --------------- Responsive Fixes --------------- */
    /* small device */
    @media (max-width: 767px) {
        .device-big {
            display: none;
        }
        .device-small {
            display: block;
        }
        #recipient-hits .ais-Panel-body,
        #groups-hits .ais-RefinementList-list,
        #recipients #recipients-list {
            height: 200px;
        }
        .tab-pane {
            padding-left: 0;
            padding-right: 0;
        }
    }
    /* big device */
    @media only screen and (min-width: 768px) {
        .device-big,
        .tab-content>.tab-pane {
            display: block;
        }
        .device-small {
            display: none;
        }
        .tab-content>.tab-pane {
            display: block;
        }
        #recipient-hits .ais-Panel-body,
        #groups-hits .ais-RefinementList-list {
            height: 400px;
        }
        #recipients #recipients-list {
            height: 420px;
        }
    }
    /* --------------- / Responsive Fixes --------------- */
    @keyframes blink {
        50% {
            color: transparent
        }
    }
    .loader__dot {
        animation: 1s blink infinite
    }
    .loader__dot:nth-child(2) {
        animation-delay: 250ms
    }
    .loader__dot:nth-child(3) {
        animation-delay: 500ms
    }
    .all,
    .none {
        color: #2780E3;
        text-decoration: underline;
        cursor: pointer;
        font-weight: normal;
        font-size: 12px;
    }
    .emptyindex {
        .noaccessrights {
            display: block;
        }
    }
    .ais-Hits-item {
        border: none;
    }
    #buttons {
        text-align: center;
    }
    #recipient-hits,
    #groups-hits,
    #recipients {
        .filter {
            width: 100%;
        }
    }
    #recipients #recipients-list {
        label {
            display: block;
            font-weight: normal;
            [type="checkbox"] {
                margin-right: 10px;
            }
            span {
                float: right;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 150px;
                text-align: right;
            }
        }
        label.deleted {
            display: none;
        }
    }
    #stats {
        position: absolute;
        right: 15px;
        display: flex;
    }
    .hits {
        .hit label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        em {
            background: #FFFF00;
            font-style: normal;
        }
    }
}