@media only screen and (max-width : 992px) {
  .container {
    margin-bottom: 40px;
  }
  #formsection {
    margin-top: 30px;
  }
}

.checkbox-group {
  label {
    margin-bottom: 10px;
  }
}

.fb-checkbox .checkbox, .fb-checkbox .radio {
  display: inline-block;
}

.missingfield {
  color: red;
}


.photos {
  a {
    border: none;
  }
  a:hover {
    text-decoration: none;
  }

  a:hover img {
    border: solid 1px blue;
  }

  img {
    border: solid 1px #ccc;
  }
}
